<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.htm" />
      </files>
    </defaultDocument>

    <rewrite>
      <rules>
        <!-- 
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>
        -->

        <rule name="DynamicContent" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^api\b" />
          <action type="Rewrite" url="server.js/{REQUEST_URI}"/>
        </rule> 

        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}"/>
        </rule>

      </rules>
    </rewrite>
  

    <!-- Make sure error responses are left untouched -->
    <httpErrors existingResponse="PassThrough" />

    <iisnode      
      logDirectory="C:\Logs\iisnode"
     />
  </system.webServer>
</configuration>
