<configuration>
  <system.webServer>
    <!-- 
    <webSocket enabled="false" />
    -->
    <webSocket enabled="false" />
    <handlers>
      <add name="iisnode-socketio" path="server.js" verb="*" modules="iisnode" />  
      <!-- 
      <clear />
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
      <add name="iisnode-socketio" path="server-socketio.js" verb="*" modules="iisnode" />  
      -->
    </handlers>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.htm" />
      </files>
    </defaultDocument>

    <rewrite>
      <rules>

        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>
        
        <!-- FULL DYNAMIC MODE -->
        <rule name="ALL" patternSyntax="ECMAScript">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
  

    <!-- Make sure error responses are left untouched -->
    <httpErrors existingResponse="PassThrough" />

    <iisnode
      logDirectory="C:\Logs\iisnode"
      loggingEnabled="true"
      maxLogFiles="10"
      maxLogFileSizeInKB="2048"
      devErrorsEnabled="true"
      debuggingEnabled="true"
      watchedFiles="web.config;*.js"
     />

<!--
    <iisnode
      logDirectory="C:\Logs\iisnode"
      devErrorsEnabled="false"
     />
-->
  </system.webServer>
</configuration>
