<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode-socketio" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <!--
    <webSocket enabled='false' />
    -->
    <rewrite>
      <rules>
        <rule name="LetsEncrypt" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^\.well-known/acme-challenge" />
        </rule>
        <rule name="Forse Dev SSL xxx to xxx3" stopProcessing="true">
          <conditions>
            <add input="{HTTPS}" pattern="off" />
            <add input="{HTTP_HOST}" pattern="^([^:]+):(\d+)$" />
            <add input="{HTTP_HOST}" pattern="(127.0.0.1|localhost)" negate="true" />
          </conditions>
          <action type="Redirect" url="https://{C:1}:{C:2}3{REQUEST_URI}" redirectType="Found" />
        </rule>
        <rule name="Forse Prod SSL 80 to 443" stopProcessing="true">
          <conditions>
            <add input="{HTTPS}" pattern="off" />
            <add input="{HTTP_HOST}" pattern="([^:]+)" />
            <add input="{HTTP_HOST}" pattern="(127.0.0.1|localhost)" negate="true" />
          </conditions>
          <action type="Redirect" url="https://{C:0}:443{REQUEST_URI}" redirectType="Found" />
        </rule>
        <!--
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js/debug" />
        </rule>
        -->
        <rule name="SocketIO" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^\/?socket.io/.*" />
          <action type="Rewrite" url="server.js" />
        </rule>
        <rule name="API" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^api/.*" />
          <action type="Rewrite" url="server.js" />
        </rule>
        <rule name="Asset" patternSyntax="ECMAScript" stopProcessing="true">
          <match url=".*\.\w{2,4}$" />
          <action type="Rewrite" url="dist/{REQUEST_URI}" />
        </rule>
        <rule name="Angular" patternSyntax="ECMAScript">
          <action type="Rewrite" url="dist/index.html" />
        </rule>
      </rules>
    </rewrite>
  
    <iisnode
      loggingEnabled="true"
      maxLogFiles="10"
      maxLogFileSizeInKB="2048"
      devErrorsEnabled="false"
      debuggingEnabled="false"
      watchedFiles="web.config;*.js"
     />

  </system.webServer>
</configuration>
